<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="x2_state_joint" params="name initial_value:=0.0">
    <joint name="${name}">
      <state_interface name="position">
        <param name="initial_value">${initial_value}</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="x2_arm_joint" params="name initial_value stiffness damping">
    <joint name="${name}">
      <param name="stiffness">${stiffness}</param>
      <param name="damping">${damping}</param>
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">${initial_value}</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="x2_ultra_ros2_control"
    params="name initial_positions_file gains_file use_fake_hardware command_transport zmq_endpoint
      leg_state_topic waist_state_topic arm_state_topic head_state_topic">
    <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>
    <xacro:property name="gains" value="${xacro.load_yaml(gains_file)['gains']}"/>

    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${use_fake_hardware}">
          <plugin>mock_components/GenericSystem</plugin>
        </xacro:if>
        <xacro:unless value="${use_fake_hardware}">
          <plugin>agibot_x2_ros2_control/X2SystemHardware</plugin>
          <param name="command_transport">${command_transport}</param>
          <param name="leg_state_topic">${leg_state_topic}</param>
          <param name="waist_state_topic">${waist_state_topic}</param>
          <param name="arm_state_topic">${arm_state_topic}</param>
          <param name="head_state_topic">${head_state_topic}</param>
          <param name="arm_command_topic">/aima/hal/joint/arm/command</param>
          <param name="zmq_endpoint">${zmq_endpoint}</param>
          <param name="state_timeout_sec">0.25</param>
          <param name="activation_timeout_sec">10.0</param>
          <param name="fault_damping">5.0</param>
          <param name="fault_publish_duration_sec">0.2</param>
          <param name="zmq_publish_rate_hz">50.0</param>
        </xacro:unless>
      </hardware>

      <xacro:x2_state_joint name="left_hip_pitch_joint"/>
      <xacro:x2_state_joint name="left_hip_roll_joint"/>
      <xacro:x2_state_joint name="left_hip_yaw_joint"/>
      <xacro:x2_state_joint name="left_knee_joint"/>
      <xacro:x2_state_joint name="left_ankle_pitch_joint"/>
      <xacro:x2_state_joint name="left_ankle_roll_joint"/>
      <xacro:x2_state_joint name="right_hip_pitch_joint"/>
      <xacro:x2_state_joint name="right_hip_roll_joint"/>
      <xacro:x2_state_joint name="right_hip_yaw_joint"/>
      <xacro:x2_state_joint name="right_knee_joint"/>
      <xacro:x2_state_joint name="right_ankle_pitch_joint"/>
      <xacro:x2_state_joint name="right_ankle_roll_joint"/>
      <xacro:x2_state_joint name="waist_yaw_joint"/>
      <xacro:x2_state_joint name="waist_pitch_joint"/>
      <xacro:x2_state_joint name="waist_roll_joint"/>

      <!-- Defaults in x2_ros2_control_gains.yaml mirror x2_locomanipulation_policy_cfg.py. -->
      <xacro:x2_arm_joint name="left_shoulder_pitch_joint"
        initial_value="${initial_positions['left_shoulder_pitch_joint']}" stiffness="${gains['left_shoulder_pitch_joint']['stiffness']}" damping="${gains['left_shoulder_pitch_joint']['damping']}"/>
      <xacro:x2_arm_joint name="left_shoulder_roll_joint"
        initial_value="${initial_positions['left_shoulder_roll_joint']}" stiffness="${gains['left_shoulder_roll_joint']['stiffness']}" damping="${gains['left_shoulder_roll_joint']['damping']}"/>
      <xacro:x2_arm_joint name="left_shoulder_yaw_joint"
        initial_value="${initial_positions['left_shoulder_yaw_joint']}" stiffness="${gains['left_shoulder_yaw_joint']['stiffness']}" damping="${gains['left_shoulder_yaw_joint']['damping']}"/>
      <xacro:x2_arm_joint name="left_elbow_joint"
        initial_value="${initial_positions['left_elbow_joint']}" stiffness="${gains['left_elbow_joint']['stiffness']}" damping="${gains['left_elbow_joint']['damping']}"/>
      <xacro:x2_arm_joint name="left_wrist_yaw_joint"
        initial_value="${initial_positions['left_wrist_yaw_joint']}" stiffness="${gains['left_wrist_yaw_joint']['stiffness']}" damping="${gains['left_wrist_yaw_joint']['damping']}"/>
      <xacro:x2_arm_joint name="left_wrist_pitch_joint"
        initial_value="${initial_positions['left_wrist_pitch_joint']}" stiffness="${gains['left_wrist_pitch_joint']['stiffness']}" damping="${gains['left_wrist_pitch_joint']['damping']}"/>
      <xacro:x2_arm_joint name="left_wrist_roll_joint"
        initial_value="${initial_positions['left_wrist_roll_joint']}" stiffness="${gains['left_wrist_roll_joint']['stiffness']}" damping="${gains['left_wrist_roll_joint']['damping']}"/>
      <xacro:x2_arm_joint name="right_shoulder_pitch_joint"
        initial_value="${initial_positions['right_shoulder_pitch_joint']}" stiffness="${gains['right_shoulder_pitch_joint']['stiffness']}" damping="${gains['right_shoulder_pitch_joint']['damping']}"/>
      <xacro:x2_arm_joint name="right_shoulder_roll_joint"
        initial_value="${initial_positions['right_shoulder_roll_joint']}" stiffness="${gains['right_shoulder_roll_joint']['stiffness']}" damping="${gains['right_shoulder_roll_joint']['damping']}"/>
      <xacro:x2_arm_joint name="right_shoulder_yaw_joint"
        initial_value="${initial_positions['right_shoulder_yaw_joint']}" stiffness="${gains['right_shoulder_yaw_joint']['stiffness']}" damping="${gains['right_shoulder_yaw_joint']['damping']}"/>
      <xacro:x2_arm_joint name="right_elbow_joint"
        initial_value="${initial_positions['right_elbow_joint']}" stiffness="${gains['right_elbow_joint']['stiffness']}" damping="${gains['right_elbow_joint']['damping']}"/>
      <xacro:x2_arm_joint name="right_wrist_yaw_joint"
        initial_value="${initial_positions['right_wrist_yaw_joint']}" stiffness="${gains['right_wrist_yaw_joint']['stiffness']}" damping="${gains['right_wrist_yaw_joint']['damping']}"/>
      <xacro:x2_arm_joint name="right_wrist_pitch_joint"
        initial_value="${initial_positions['right_wrist_pitch_joint']}" stiffness="${gains['right_wrist_pitch_joint']['stiffness']}" damping="${gains['right_wrist_pitch_joint']['damping']}"/>
      <xacro:x2_arm_joint name="right_wrist_roll_joint"
        initial_value="${initial_positions['right_wrist_roll_joint']}" stiffness="${gains['right_wrist_roll_joint']['stiffness']}" damping="${gains['right_wrist_roll_joint']['damping']}"/>

      <xacro:x2_state_joint name="head_yaw_joint"/>
      <xacro:x2_state_joint name="head_pitch_joint"/>
    </ros2_control>
  </xacro:macro>
</robot>
